!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => '/bootstrap.css', :type => 'text/css', :media => 'screen'}
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %title CrossRef Labs Patent Citation Viewer
  %body
    .container{:style => 'margin-top: 30px;'}
      = yield